In [37]:
import numpy as np
import pandas as pd

In [38]:
music = pd.read_csv("final_music.csv")

In [39]:
music

    musicid                         name     genre
0         1           Perfect ED Sheeran  Romantic
1         2           At Last Etta James  Romantic
2         3         Infinity James Young  Romantic
3         4      Dusk Till Dawn ZYAN Sia  Romantic
4         5    Silence Marshmello Khalid  Romantic
..      ...                          ...       ...
95       96          Crystals Isolateexe    Gaming
96       97  DEMONS IN MY SOUL SCXR SOUL    Gaming
97       98                    RAVE Dxrk    Gaming
98       99              Scopin Kordhell    Gaming
99      100         NEON BLADE MoonDiety    Gaming

[100 rows x 3 columns]

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,10))
tfidf = vectorizer.fit_transform(music["genre"])

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [46]:
def search(input):
    # input = genre(input)         
    query_vec = vectorizer.transform([input])           
    similarity = cosine_similarity(query_vec,tfidf).flatten()           
    indices = np.argpartition(similarity, -10)[-10:]   
    results = music.iloc[indices][::-1]          
    return results

In [48]:
search("Romantic")

   musicid                               name     genre
0        1                 Perfect ED Sheeran  Romantic
9       10  In The Name of Love Martin Garrix  Romantic
8        9               Falling Harry Styles  Romantic
7        8                   Memories Maroon5  Romantic
6        7              I Like Me Better Lauv  Romantic
1        2                 At Last Etta James  Romantic
4        5          Silence Marshmello Khalid  Romantic
2        3               Infinity James Young  Romantic
5        6           Love nwantiti Ckay DJ Yo  Romantic
3        4            Dusk Till Dawn ZYAN Sia  Romantic

In [50]:
import pickle

In [52]:
pickle.dump(music,open("music_database.pkl","wb"))