In [1]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv("database_movies.csv")

In [4]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [5]:
movies["genres"]=movies["genres"].replace('(no genres listed)','None')

In [7]:
movies.drop(movies[movies['genres'] == "None"].index, inplace = True)

In [8]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62417,209155,Santosh Subramaniam (2008),Action|Comedy|Romance
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [10]:
import re
def clean_title(title):
    return re.sub("[^a-zA-Z ]", "", title)
movies["clean_title"] = movies["title"].apply(clean_title)

In [11]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II
...,...,...,...,...
62417,209155,Santosh Subramaniam (2008),Action|Comedy|Romance,Santosh Subramaniam
62418,209157,We (2018),Drama,We
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island

In [15]:
def clean_genres(genres):
    return re.sub("[^a-zA-Z ]", " ", genres)
movies["clean_genres"] = movies["genres"].apply(clean_genres)

In [16]:
movies

,movieId,title,genres,clean_title,clean_genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story,Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji,Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,Comedy Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale,Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,Comedy
...,...,...,...,...,...
62417,209155,Santosh Subramaniam (2008),Action|Comedy|Romance,Santosh Subramaniam,Action Comedy Romance
62418,209157,We (2018),Drama,We,Drama
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul,Documentary
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems,Comedy Drama
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island,Action Adventure Drama

In [17]:
movies = movies[["movieId", "clean_title", "clean_genres"]]

In [18]:
movies

,movieId,clean_title,clean_genres
0,1,Toy Story,Adventure Animation Children Comedy Fantasy
1,2,Jumanji,Adventure Children Fantasy
2,3,Grumpier Old Men,Comedy Romance
3,4,Waiting to Exhale,Comedy Drama Romance
4,5,Father of the Bride Part II,Comedy
...,...,...,...
62417,209155,Santosh Subramaniam,Action Comedy Romance
62418,209157,We,Drama
62419,209159,Window of the Soul,Documentary
62420,209163,Bad Poems,Comedy Drama
62422,209171,Women of Devils Island,Action Adventure Drama

In [ ]:
movies['clean_title'] = [x.strip('( )').split(',') for x in movies['clean_title']]

In [ ]:
movies['clean_genres'] = [x.strip('( )').split(',') for x in movies['clean_genres']]

In [25]:
movies

,movieId,clean_title,clean_genres
0,1,[Toy Story ],[Adventure Animation Children Comedy Fantasy]
1,2,[Jumanji ],[Adventure Children Fantasy]
2,3,[Grumpier Old Men ],[Comedy Romance]
3,4,[Waiting to Exhale ],[Comedy Drama Romance]
4,5,[Father of the Bride Part II ],[Comedy]
...,...,...,...
62417,209155,[Santosh Subramaniam ],[Action Comedy Romance]
62418,209157,[We ],[Drama]
62419,209159,[Window of the Soul ],[Documentary]
62420,209163,[Bad Poems ],[Comedy Drama]
62422,209171,[Women of Devils Island ],[Action Adventure Drama]

In [29]:
''.join(str() for e in movies["clean_genres"])

''

In [30]:
movies

,movieId,clean_title,clean_genres
0,1,[Toy Story ],[Adventure Animation Children Comedy Fantasy]
1,2,[Jumanji ],[Adventure Children Fantasy]
2,3,[Grumpier Old Men ],[Comedy Romance]
3,4,[Waiting to Exhale ],[Comedy Drama Romance]
4,5,[Father of the Bride Part II ],[Comedy]
...,...,...,...
62417,209155,[Santosh Subramaniam ],[Action Comedy Romance]
62418,209157,[We ],[Drama]
62419,209159,[Window of the Soul ],[Documentary]
62420,209163,[Bad Poems ],[Comedy Drama]
62422,209171,[Women of Devils Island ],[Action Adventure Drama]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,2))
tfidf = vectorizer.fit_transform(movies["clean_genres"])